# API Keys
MAPS_API_KEY=your_maps_api_key_here

# Server URLs
API_BASE_URL=http://10.0.2.2:5000/
STAGING_BASE_URL=http://10.0.2.2:5000/
PRODUCTION_BASE_URL=http://10.0.2.2:5000/

# Other configurations
ENCRYPTION_KEY=your_encryption_key_here